= render "shared/errors", obj: @booking
= form_for @booking do |f|
  .form-row
    .form-group.col-md-6
      = f.label :conference_room_id, "Room No"
      = f.select(:conference_room_id,  ConferenceRoom.all.collect{|room| ["Room No: #{room.room_no}, Capacity:#{room.capacity}, Area:#{room.area} #{room.unit} ", room.id] } , {}, { :class => 'form-control' })
    .form-group.col-md-6
      = f.label :booking_date
      = f.text_field :booking_date, {class:'form-control', placeholder: 'Booking Date'}
  .form-row
    .form-group.col-md-3
      = f.label :start_time
      .inline
        = time_select('booking', 'start_time', {ampm: true}, { :class => 'form-control col-md-6' })
    .form-group.col-md-3
      = f.label :end_time
      .inline
        = time_select('booking', 'end_time', {ampm: true}, { :class => 'form-control col-md-6' })
    .form-group.col-md-6
      = f.label :description
      = f.text_field :description, {class:'form-control', placeholder: 'Description'}
    = f.submit class: 'btn btn-primary'
