%h1 Bookings list
%hr
%div.table-responsive
  %table.table.table-bordered.table-sm
    %thead
      %tr
        %th{:scope => "col"} Client Name
        %th{:scope => "col"} Conference room
        %th{:scope => "col"} Date Booking
        %th{:scope => "col"} Start Time
        %th{:scope => "col"} End Time
        %th{:scope => "col"} Description
        %th{:scope => "col"} Action
    %tbody
      - @bookings.each do |booking|
        %tr
          %td= booking.user.full_name
          %td= booking.conference_room.room_no
          %td= booking.booking_date.strftime("%d %b %Y")
          %td= booking.start_time.strftime("%H:%M")
          %td= booking.end_time.strftime("%H:%M")
          %td= booking.description
          %td
            = link_to "Edit", edit_booking_path(booking), class: "btn btn-info btn-sm"
            = link_to "Delete", booking_path(booking), method: :delete ,data: {confirm: "Are you sure"} , class: "btn btn-danger btn-sm"
